from diagrams import Diagram
{% for class_ref in diagram_class_refs -%}
from diagrams.{{ class_ref.module_path }} import {{ class_ref.class_name }}
{% endfor %}
with Diagram("{{ diagram_name }}", show=False):
    {% for node in diagram_nodes -%}
    {{ node["task_id"] }} = {{ node["class_name"] }}("{{ node["task_id"] }}")
    {% endfor %}
    {% for edge in diagram_edges -%}
    {{ edge["task_id"] }} >> [{{ edge["downstream_task_ids"]|join(', ') }}]
    {% endfor %}
