from diagrams import Diagram{% if clusters %}, Cluster {% endif %}
{% for class_ref in class_refs -%}
from {{ class_ref.module_path }} import {{ class_ref.class_name }}
{% endfor %}
with Diagram("{{ name }}", show=False):
    {% for cluster in clusters -%}
    {{ cluster.get_variable()}} = Cluster("{{ cluster.get_label(label_wrap) }}")
    {% endfor -%}
    {% for node in nodes -%}
    {% if node.cluster -%}
    with {{ node.cluster.get_variable() }}:
        {{ node.get_variable() }} = {{ node.class_name }}("{{ node.get_label(label_wrap) }}")
    {% else -%}
    {{ node.get_variable() }} = {{ node.class_name }}("{{ node.get_label(label_wrap) }}")
    {% endif -%}
    {% endfor %}
    {% for edge in edges -%}
    {{ edge.get_variable() }} >> [{{ edge.get_downstream_variables()|join(', ') }}]
    {% endfor %}
